
<div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">

    <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
        <span class="mr-2">

            <div class="fs-lg text-truncate text-truncate-lg"> Navegação Anônima </div>
            <span class="text-truncate text-truncate-md opacity-80"> Aguardando login... </span>

    </div>
</div>



</div>
<div class="dropdown-divider m-0"></div>

<a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
    <span data-i18n="drpdwn.settings">Settings</span>
</a>
<div class="dropdown-divider m-0"></div>
<a href="#" class="dropdown-item" data-action="app-fullscreen">
    <span data-i18n="drpdwn.fullscreen">Fullscreen</span>
    <i class="float-right text-muted fw-n">F11</i>
</a>



