/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24/04/2023 23:28:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enderecos]    Script Date: 24/04/2023 23:28:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enderecos](
	[Id] [uniqueidentifier] NOT NULL,
	[FornecedorId] [uniqueidentifier] NOT NULL,
	[Logradouro] [varchar](200) NOT NULL,
	[Numero] [varchar](50) NOT NULL,
	[Complemento] [varchar](250) NULL,
	[Cep] [varchar](8) NOT NULL,
	[Bairro] [varchar](100) NOT NULL,
	[Cidade] [varchar](100) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Enderecos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fornecedores]    Script Date: 24/04/2023 23:28:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornecedores](
	[Id] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](200) NOT NULL,
	[Documento] [varchar](14) NOT NULL,
	[TipoFornecedor] [int] NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Fornecedores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 24/04/2023 23:28:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[Id] [uniqueidentifier] NOT NULL,
	[FornecedorId] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](200) NOT NULL,
	[Descricao] [varchar](1000) NOT NULL,
	[Imagem] [varchar](100) NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[DataCadastro] [datetime2](7) NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Produtos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepresentanteLegal]    Script Date: 24/04/2023 23:28:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepresentanteLegal](
	[Id] [uniqueidentifier] NOT NULL,
	[FornecedorId] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[SobreNome] [varchar](50) NOT NULL,
	[Documento] [varchar](14) NOT NULL,
	[Email] [varchar](255) NULL,
	[Telefone] [varchar](13) NOT NULL,
 CONSTRAINT [PK_RepresentanteLegal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230423225905_Initial', N'6.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230424051033_AdjutForeingKeyFornecedorEndereco', N'6.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230424065239_AdjutForeingKeyFornecedorEndereco2', N'6.0.9')
GO
INSERT [dbo].[Enderecos] ([Id], [FornecedorId], [Logradouro], [Numero], [Complemento], [Cep], [Bairro], [Cidade], [Estado]) VALUES (N'a0471528-67a7-4654-b870-08d92d68367e', N'493e1150-6f86-4d99-aaa5-08d92d68366d', N'Rua Cuba', N'379', N'201', N'21060120', N'Penha Circular', N'Rio de Janeiro', N'RJ')
INSERT [dbo].[Enderecos] ([Id], [FornecedorId], [Logradouro], [Numero], [Complemento], [Cep], [Bairro], [Cidade], [Estado]) VALUES (N'34859647-d76b-4c3b-fa4c-08d92e902cfa', N'b9b330d9-93c0-4120-520c-08d92e902cf1', N'Rua Cuba', N'379', N'Sala 101', N'21020160', N'Penha', N'Rio de Janeiro', N'RJ')
INSERT [dbo].[Enderecos] ([Id], [FornecedorId], [Logradouro], [Numero], [Complemento], [Cep], [Bairro], [Cidade], [Estado]) VALUES (N'44caff7c-15d9-41ff-89b7-08d9320c1593', N'13a4cac1-5524-46cc-e37e-08d9320c1591', N'Rua Cuba', N'379', N'201', N'20060120', N'Penha Circular', N'Rio de Janeiro', N'RJ')
GO
INSERT [dbo].[Fornecedores] ([Id], [Nome], [Documento], [TipoFornecedor], [Ativo]) VALUES (N'493e1150-6f86-4d99-aaa5-08d92d68366d', N'Cooperchip CPES Ltda', N'09075759000108', 2, 1)
INSERT [dbo].[Fornecedores] ([Id], [Nome], [Documento], [TipoFornecedor], [Ativo]) VALUES (N'b9b330d9-93c0-4120-520c-08d92e902cf1', N'Lumac Importação e Exportação Ltda', N'75535785768', 1, 1)
INSERT [dbo].[Fornecedores] ([Id], [Nome], [Documento], [TipoFornecedor], [Ativo]) VALUES (N'13a4cac1-5524-46cc-e37e-08d9320c1591', N'XPTO DA SILVA', N'86480820000143', 2, 1)
GO
INSERT [dbo].[Produtos] ([Id], [FornecedorId], [Nome], [Descricao], [Imagem], [Valor], [DataCadastro], [Ativo]) VALUES (N'90dd2b49-b4a6-420f-6b69-08d92d68fed8', N'493e1150-6f86-4d99-aaa5-08d92d68366d', N'Nimesulida', N'Anti-inframatório potente, prescrição comum de 100/mg', N'997b08c3-48da-4f48-8e36-b66d4989ce25_r9.jpg', CAST(9.59 AS Decimal(18, 2)), CAST(N'2021-06-12T03:12:02.5837196' AS DateTime2), 1)
INSERT [dbo].[Produtos] ([Id], [FornecedorId], [Nome], [Descricao], [Imagem], [Valor], [DataCadastro], [Ativo]) VALUES (N'03d9ccc8-8737-47e4-6b6a-08d92d68fed8', N'493e1150-6f86-4d99-aaa5-08d92d68366d', N'Dipirona', N'Dipirona 500mg', N'0bd59c3d-de06-4fa2-93d5-449bb897fe69_r10.jpg', CAST(15.90 AS Decimal(18, 2)), CAST(N'2021-06-12T03:18:54.3312231' AS DateTime2), 1)
INSERT [dbo].[Produtos] ([Id], [FornecedorId], [Nome], [Descricao], [Imagem], [Valor], [DataCadastro], [Ativo]) VALUES (N'af8576bd-4e22-4d69-a0c2-08d92d6c9107', N'493e1150-6f86-4d99-aaa5-08d92d68366d', N'Amoxilina 500', N'Amoxilina 500mg é um antibiótico forte, de tarja vermelha, que só deve ser administrado sob prescrição médica e, sobretudo, comprado com receita original, carimbada e assinada. Carlos Testando DE NOVO!', N'34f28708-156b-4017-a904-e65235fb283b_r1.jpg', CAST(15.50 AS Decimal(18, 2)), CAST(N'2021-06-12T03:37:36.3693342' AS DateTime2), 1)
GO
INSERT [dbo].[RepresentanteLegal] ([Id], [FornecedorId], [Nome], [SobreNome], [Documento], [Email], [Telefone]) VALUES (N'7dd4a1f7-59e5-46e8-bd0a-08db4517c6c0', N'd0fa4f1f-caf0-4112-e1aa-08db4517c6ba', N'Alex Souza', N'da Silva', N'75535689566', N'alexdasilva012@admin.com', N'21986502122')
INSERT [dbo].[RepresentanteLegal] ([Id], [FornecedorId], [Nome], [SobreNome], [Documento], [Email], [Telefone]) VALUES (N'e959e9fc-4af6-4cb9-061b-08db45196dab', N'e82ca0f3-bd48-43e4-fd69-08db45196da8', N'Elisa', N'da Silva', N'75535689545', N'elisadasilva@admin.com', N'21986502122')
INSERT [dbo].[RepresentanteLegal] ([Id], [FornecedorId], [Nome], [SobreNome], [Documento], [Email], [Telefone]) VALUES (N'b0d06fef-0d56-4ef0-b67e-4ce923544887', N'13a4cac1-5524-46cc-e37e-08d9320c1591', N'Lívia Cristina', N'Santos', N'13340118779', N'livia.cooperchip@gmail.com', N'21997752915')
GO
ALTER TABLE [dbo].[Enderecos]  WITH CHECK ADD  CONSTRAINT [FK_Enderecos_Fornecedores_FornecedorId] FOREIGN KEY([FornecedorId])
REFERENCES [dbo].[Fornecedores] ([Id])
GO
ALTER TABLE [dbo].[Enderecos] CHECK CONSTRAINT [FK_Enderecos_Fornecedores_FornecedorId]
GO
ALTER TABLE [dbo].[Produtos]  WITH CHECK ADD  CONSTRAINT [FK_Produtos_Fornecedores_FornecedorId] FOREIGN KEY([FornecedorId])
REFERENCES [dbo].[Fornecedores] ([Id])
GO
ALTER TABLE [dbo].[Produtos] CHECK CONSTRAINT [FK_Produtos_Fornecedores_FornecedorId]
GO
ALTER TABLE [dbo].[RepresentanteLegal]  WITH CHECK ADD  CONSTRAINT [FK_RepresentanteLegal_Fornecedores_FornecedorId] FOREIGN KEY([FornecedorId])
REFERENCES [dbo].[Fornecedores] ([Id])
GO
ALTER TABLE [dbo].[RepresentanteLegal] CHECK CONSTRAINT [FK_RepresentanteLegal_Fornecedores_FornecedorId]
GO
