@using Cooperchip.ITDeveloper.Mvc.ServiceApp.ViewModels;
@model FornecedorViewModel

<div class="form-group">
    <label asp-for="Representante.Nome" class="control-label"></label>
    <input asp-for="Representante.Nome" class="form-control" />
    <span asp-validation-for="Representante.Nome" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Representante.SobreNome" class="control-label"></label>
    <input asp-for="Representante.SobreNome" class="form-control" />
    <span asp-validation-for="Representante.SobreNome" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Representante.Documento" class="control-label"></label>
    <input asp-for="Representante.Documento" class="form-control" />
    <span asp-validation-for="Representante.Documento" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Representante.Email" class="control-label"></label>
    <input asp-for="Representante.Email" class="form-control" />
    <span asp-validation-for="Representante.Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Representante.Telefone" class="control-label"></label>
    <input asp-for="Representante.Telefone" class="form-control" />
    <span asp-validation-for="Representante.Telefone" class="text-danger"></span>
</div>

